body{
    overflow: auto;
    background-color: #f4f4f4 !important;
}

body, html {
    zoom: 1; /* Certifique-se que está em 1 ou remova essa linha */
    transform: none;
    font-size: 100%; /* Voltar ao padrão */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.mdb-input-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
}

.side-menu-buttom {
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}
.pi-bars{
    font-size: 1.5rem;
}
.p-menuitem-link, .p-menuitem-text{
    text-decoration: none;
    /* color:orange; */
    font-size: 1rem;
}
.p-panelmenu-header-link{
    font-size: 3rem;
}
.p-panelmenu-header-link{
    text-decoration: none;
}
.p-menuitem-icon{
    color:#e87717;
    font-size: 1.5rem;
}
/*.p-icon{
    color:green
}
*/
.p-datepicker-calendar>thead>tr>th{
    text-align: center;
}
.p-dropdown-items{
    padding: 8px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p-multiselect-panel{
    max-width: 200px;
}

.p-menubar-root-list{
    margin-left: auto; /* Move a lista de itens para a direita */
    margin-right: 100px;
    margin-top: 10px;
}