.erp-form {
    width:100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
.p-dropdown-items {
    padding: 8px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important; /* Alinha os itens ao início (cima) */
    align-items: flex-start !important; /* Alinha os itens à esquerda */
}
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  
  .form-group.full-width {
    flex: 100%;
    margin-right: 0;
  }
  
  .form-group:last-child {
    margin-right: 0;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #0152a1;
  }
  .p-datepicker-trigger {
    background-color: #0152a1; /* Cor de fundo do botão */
    border: none; /* Remove a borda, se necessário */
  }
  
  input,
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #0152a1;;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  .card-p4{
    margin-left: 350px !important;
  }

  .form-row:nth-child(1) .form-group input {
    width: 60%; /* Ajuste o valor conforme a necessidade */
  }
  .my-custom-row input {
    width: 90%;
  }


  .custom-confirm-dialog {
    border-radius: 10px; /* Bordas arredondadas */
  }

  .custom-confirm-dialog .p-confirm-dialog-message {
      font-weight: bold; /* Estilo da mensagem */
  }

  .custom-confirm-dialog .p-confirm-dialog-accept {
    background-color: #0152a1;
    color: white; /* Cor do texto do botão "Confirmar" */
  }

  .custom-confirm-dialog .p-confirm-dialog-reject {
      color: #f44336; /* Cor do texto do botão "Cancelar" */
  }
  .custom-confirm-dialog .p-confirm-dialog-icon{
    color: #f44336;

  }

  .generic-table-container {
      padding: 20px; /* Adiciona espaçamento interno */
      background-color: #f9f9f9; /* Cor de fundo leve */
      border-radius: 8px; /* Bordas arredondadas */
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
  }

  .custom-data-table {
      border: 1px solid #dee2e6; /* Borda da tabela */
      border-radius: 8px; /* Bordas arredondadas */
  }

  .custom-data-table .p-datatable-thead > tr > th {
      font-weight: bold; /* Negrito para o texto do cabeçalho */
      text-align: center; /* Centraliza o texto */
  }

  .custom-data-table .p-datatable-tbody > tr {
      transition: background-color 0.3s ease; /* Transição suave para hover */
  }

  .custom-data-table .p-datatable-tbody > tr:hover {
      background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
  }

  .custom-data-table .p-datatable-tbody > tr:nth-child(even) {
      background-color: #f9f9f9; /* Cor de fundo para linhas pares */
  }

  .custom-data-table .p-datatable-tbody > tr:nth-child(odd) {
      background-color: #ffffff; /* Cor de fundo para linhas ímpares */
  }

  .custom-data-table .p-button {
      background-color:transparent ;
      color: #0152a1; /* Cor do texto do botão */
      border: none;
  }


  

  .reset-btn {
    background: #0152a1;;
    border: none;
    color: none;
    font-size: 16px;
    border-radius: 4px;
    height: 34px;
    width: 100px;
  }
  
  .reset-btn i {
    color: none;
    margin-right: 8px;
  }
  
  .reset-btn:hover {
    opacity: 0.8;
  }


/* Remove a borda padrão dos inputs e aplica uma borda personalizada */
.erp-form .form-group input[type="text"],
.erp-form .form-group select {
  border: 1px solid #ddd; /* Borda leve */
  border-radius: 4px; /* Cantos arredondados */
  padding: 8px; /* Espaçamento interno */
  font-size: 14px; /* Tamanho da fonte */
  outline: none; /* Remove o contorno padrão ao focar */
  transition: border-color 0.3s ease; /* Transição suave na mudança de cor da borda */
}

/* Estilo ao focar no input */
.erp-form .form-group input[type="text"]:focus,
.erp-form .form-group select:focus {
  border-color: #007bff; /* Cor da borda ao focar (azul padrão) */
  box-shadow: 0 0 0 2px rgba(38, 143, 255, 0.2); /* Sombra suave ao focar */
}

/* Remove a borda preta dos inputs com erro */
.erp-form .form-group input[type="text"].error,
.erp-form .form-group select.error {
  border-color: red; /* Cor da borda para inputs com erro */
  box-shadow: 0 0 0 0 !important;  
}
/* Aplica estilização a todos os inputs */
.erp-form input[type="text"], .erp-form select {
    font-size: 18px; /* Aumenta o tamanho da fonte, ajuste conforme necessário */
    text-transform: uppercase; /* Converte o texto para maiúsculas */
    font-weight: 450;
}


a {
  text-decoration: none !important; 
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link{
  margin: 0 0 -1px 0 !important;
}

a {
  color: #0152a1;
  text-decoration: none !important; 
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link{
  margin: 0 0 -1px 0 !important;
}

.p-datatable .p-datatable-tbody > tr > td{
  padding: 0.5rem 1rem !important;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd {
  background-color: #F2F6F9 !important; 
}

th {
    background-color: #D9E9ef !important;
    border: 1px solid #C9D8DF !important;
    color: #000 !important;
    padding: 10px !important;
    text-align: center !important;
}


a {
  color: #0152a1;
  text-decoration: none !important; 
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link{
  margin: 0 0 -1px 0 !important;
}

.p-datatable .p-datatable-tbody > tr > td{
  padding: 0.0rem 1rem !important;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr.p-row-odd {
  background-color: #F2F6F9 !important; 
}


.p-tabview .p-tabview-panels{
  padding: 0px !important;
}

dl, ol, ul {
  margin-bottom: 0px !important;
}

.p-dialog .p-dialog-header {
  padding: 0px !important;
}
.p-dropdown-items{
  display: block !important;
}
.p-datepicker-calendar>thead>tr>th {
    background-color: white !important;
    text-align: center !important;
    background: none !important;
    /* border: 1px solid gray; */
}

.p-datepicker {
    max-width: 350px;
}

.p-datepicker-calendar td {
    padding: 0px !important;
}

.p-datepicker-header {
    font-size: 16px;
}

.p-datepicker-month-container {
    font-size: 10px;
}

.fa-solid, .fas {
    font-weight: 500;
}

dl, ol, ul {
    margin-left: -32px;
}

.custom-datatable .p-datatable-tbody > tr > td {
    padding: 0.7rem 1rem !important;
}

.input-error {
  border: 1px solid red;
}

.custom-table .p-column-header-content[data-pc-section="headercontent"] {
    max-width: 1px; /* Ajuste para o tamanho desejado */
    text-overflow: ellipsis; /* Adiciona "..." ao exceder */
    white-space: nowrap; /* Não quebra linha */
}

@media (max-width: 768px) {

  .container.px-4{
    width: 334px !important;
    margin-left: 0px !important;
  }
  .px-4 {
    width: 334px !important;
    margin-left: 0px !important;
  }
  .endcalendar{
    margin-left: 0px !important;
  }
}

/* Estilo padrão para telas maiores (desktop) */
.container-valores {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  font-weight: bold;
  padding: 10px 0;
}

/* Estilo para telas menores (celular) */
@media (max-width: 768px) {
  .container-valores {
      flex-direction: column; /* Torna os itens em uma coluna */
      align-items: flex-start; /* Alinha os itens à esquerda */
      padding: 10px; /* Ajusta o padding para celular */
  }

  .container-valores div {
      margin-left: 0 !important;
      margin-right: 0;
      margin-bottom: 10px; /* Espaçamento entre os itens */
  }

  .container-valores div:last-child {
      margin-bottom: 0; /* Remove o espaçamento do último item */
  }
}

@media (max-width: 768px) {

  .GraficoDiv{
    width: 334px !important;
    margin-left: 0px !important;
  }
  .GraficoDiv {
    width: 334px !important;
    margin-left: 0px !important;
  }
  .endcalendar{
    margin-left: 0px !important;
  }
  .startcalendar{
    width: 253px !important;
  }
  .custom-confirm-dialog{
    width: 420px !important;
    margin: auto !important;
  }
  .mobile-adjust{
    margin-top: 0px !important;
    }
}
.custom-accept-button{
  border-radius:10px !important;  
}
