/* index.css */
body {
    background-color: rgba(31, 23, 23, 0.05) !important;
    font-family: 'Poppins', sans-serif;
    font-family: var(--bs-body-font-family);
    line-height: var(--bs-body-line-height);
    /* Outros estilos para o corpo */
  }
#navbar{
    background-color: #0152a1 !important;
    height: 40.5px !important;
}

.sidebar button {
    color: white;
    padding: 10px 15px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
  }

