name: incomum.com.br production deploy
on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    deploy:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Setup Node
          uses: actions/setup-node@v2
          with:
              node-version: '22'
        - name: Install dependencies
          run: npm ci
        - name: Build
          run: npm run build:prod
        - name: Setup Apache
          run: |
            cd dist
            echo "<IfModule mod_rewrite.c>
            RewriteEngine On
            RewriteBase ./
            RewriteRule ^index\.html$ - [L]
            RewriteCond %{REQUEST_FILENAME} !-f
            RewriteCond %{REQUEST_FILENAME} !-d
            RewriteCond %{REQUEST_FILENAME} !-l
            RewriteRule . /index.html [L]
            </IfModule>" > .htaccess
        - name: Hostinger Deploy
          uses: easingthemes/ssh-deploy@main
          with:
            SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
            SSH_PASSPHRASE: ${{ secrets.SERVER_SSH_PASSPHRASE }}
            ARGS: "-rltgoDzvc --delete --exclude=api/"
            SOURCE: "dist/"
            REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
            REMOTE_USER: ${{ secrets.REMOTE_USER }}
            REMOTE_PORT: ${{ secrets.REMOTE_PORT }}
            TARGET: ${{ secrets.REMOTE_TARGET_PROD }}