name: incomum.com.br dev deploy
on:
    push:
        branches:
            - sprint
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v2
          - name: Setup Node
            uses: actions/setup-node@v2
            with:
                  node-version: '22'
          - name: Install dependencies
            run: npm ci
          - name: Build
            run: npm run build:dev
          - name: Setup Apache
            run: |
              cd dist
              echo "<IfModule mod_rewrite.c>
              RewriteEngine On

              # Redirecionar requisições para /api para a pasta api
              RewriteCond %{REQUEST_URI} ^/api/
              RewriteRule ^api/(.*)$ /dev/api/$1 [L,PT]
              
              # Gerenciar o roteamento do React
              RewriteCond %{REQUEST_FILENAME} !-f
              RewriteCond %{REQUEST_FILENAME} !-d
              RewriteCond %{REQUEST_FILENAME} !-l
              RewriteRule ^(.*)$ /index.html [L]
              </IfModule>" > .htaccess
          - name: Hostinger Deploy
            uses: easingthemes/ssh-deploy@main
            with:
                  SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
                  SSH_PASSPHRASE: ${{ secrets.SERVER_SSH_PASSPHRASE }}
                  ARGS: "-rltgoDzvc --delete --exclude=api/"
                  SOURCE: "dist/"
                  REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
                  REMOTE_USER: ${{ secrets.REMOTE_USER }}
                  REMOTE_PORT: ${{ secrets.REMOTE_PORT }}
                  TARGET: ${{ secrets.REMOTE_TARGET_DEV }}
